
    *{
      font-family: fantasy;
    }
  
  body{
    width: 100vw;
    background-image: url(https://w0.peakpx.com/wallpaper/37/897/HD-wallpaper-orange-lemon-cocktail-cocktail-champagne-glass-dark-bar-spotlight-chair-orange-zest-lemon.jpg);
    background-size:cover;
    height: 50vh;
   
  }
  .gridContainer{
    display: grid;
    grid-template-columns:  300px 1fr 300px;
    grid-template-rows: 150px 1fr 1fr;
  }
  .ingredientList{
    background-color: #1218;
    border-radius: 10px;
    color: #FFD700;
    grid-column: 2;
    grid-row: 2;
    letter-spacing: 3px;
    font-weight: 800;
    margin-right: 40px;
    font-size: large;
    margin-left: 50px;
    height: 300px;
    width: 300px;
}
.listTitle{
    height: 20px;
    display: flex;
    color:gold;
    margin-left: 70px;
    grid-column: 2/3;
    font-size: 30px;
    margin-top: 0;
}
  p{
    color: gold;
    background-color: #1219;
    border-radius: 15px;
    margin-left: 40px;
    font-size: x-large;
    margin-top: 0;
    
    
  }
  .header{
    display: flex;
    grid-column: span 3;
    justify-content: space-around;
    align-items: center;
    background-color: 121212;

    height: 200px;
    width: 80%;
    margin-left: 100px;
  }
  form{
    display: flex;
   justify-content: space-evenly;
    border-radius: 10px;
    flex-direction: row;
    margin-top: 50px;
    align-items: end;
    
   
  
  }
  .drinks{
    display: flex;
    flex-direction: column;
    grid-column: 3;
    grid-row: 2;
    color:#FFD700;
    font-size: x-large;
    background-color: #1217;
    border-radius: 20px;
    height: 300px;
    width: 200px;
    font-weight: 800; 
    margin-left: 80px;
    margin-top: 0;  
  }
  button{
    background-color: #FFD700;;
    height: 40px;
    font-family: cursive;
    border-radius: 20px;
    margin-left: 40px;
 }
  button:hover{
    background-color:darkslateblue;
  }
  .dealersChoice {
    margin-top: 50px;
    font-size: x-large;
    grid-area: 3/1/4/2;
    animation: sparkle 2s infinite;
}
label{
    width:0;
}

.submit{
  display: none;
}
.clear{
  width: 80px;
  margin: 20px;
  margin-left: 80px;
}
.inputField{
  display: flex;
}
.feelingLucky {
  color: fuchsia;
  background-color: #1219;
  grid-area: 3/1/4/2;
  font-size: x-large;

}
#possibleDrinks{
  color: #FFA500;
}
a{
  color:#FFA500;
}
.arrow{
  color:#FFA500;
}
.inputField{
margin-left: 60px;
margin-top: 50px;
}
.midSection{
  margin-left: 100px;
}
#dealersChoiceButton{
  background-color: darkslateblue;
  color: gold;
  font-size: x-large;
  margin:30px;
  width: 200px;
}
li{
  width: 300px;
}


    


.header1,
.header2,
.header3,
.header4,
.header5,
.header6,
.header7,
.header8,
.header9,
.header10,
.header11,
.header12,
.header13 {
    font-size: 5em;
    text-align:start;
    animation: sparkle 2s infinite; /* Add sparkle animation */
}

@keyframes sparkle {
    0% {
        color: rgb(94, 81, 81);
        text-shadow: 0 0 10px #710e1b, 0 0 10px #0e3271, 0 0 10px#71550e;
    }
    100% {
        color:#6A0DAD;;
        text-shadow: none;
    }
    50% {
        color: #00FFFF;
        text-shadow: 0 0 10px #FFFF99, 0 0 10px#FFFF99, 0 0 10px #FFFF99;
    }
}

  .header1 {
    color: #FF5733; 
    
  }
  
  .header2 {
    color: #8A2BE2; /* Blue Violet */
  }
  
  .header3 {
    color: #FFD700; /* Gold */
  }
  
  .header4 {
    color: #00CED1; /* Dark Turquoise */
  }
  
  .header5 {
    color: #FF1493; /* Deep Pink */
  }
  
  .header6 {
    color: #32CD32; /* Lime Green */
  }
  
  .header7 {
    color: #FF4500; /* Orange Red */
  }
  
  .header8 {
    color: #9932CC; /* Dark Orchid */
  }
  
  .header9 {
    color: #20B2AA; /* Light Sea Green */
  }
  
  .header10 {
    color: #FF6347; /* Tomato */
  }
  
  .header11 {
    color: #00FFFF; /* Cyan */
  }
  
  .header12 {
    color: #FFA500; /* Orange */
  }
  
  .header13 {
    color: #9370DB; /* Medium Purple */
  }


